<a href="https://colab.research.google.com/github/Ishal20/Android/blob/master/ILT-ML-02-AU%20Deep%20Dive%20into%20Data%20Analysis_Experimenting_Basic_SQL.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Structured Query Language Introduction**

**SQL** stands for **Structured Query Language**. It is the go-to language on the web for storing, manipulating, and retrieving data in Relational Database Management Systems (RDBMS). Languages like SQL can also be used in Relational Database Management Systems (RDSMS) or in "Not Only SQL" (NoSQL) databases.

SQL consists of two main sub-languages:

1. **Data Definition Language (DDL)**: This is used to create and modify the structure of a database.
   
2. **Data Manipulation Language (DML)**: This is used to perform Read, Insert, Update, and Delete operations on data.

SQL has eight commonly used data types:

1. **Integer**: Whole numbers without decimal parts.
   - Example: `42`

2. **Decimal**: Numbers with decimal parts.
   - Example: `3.14159`

3. **Boolean**: A binary value, either TRUE or FALSE.
   - Example: `TRUE`

4. **Date**: Used to store date information.
   - Example: `2022-08-15`

5. **Time**: Used to store time information.
   - Example: `14:30:00`

6. **Timestamp**: Represents both date and time together.
   - Example: `2022-08-15 14:30:00`

7. **Float**: Used to store positive and negative single-precision floating-point numbers.
   - Example: `-123.456`

8. **String**: The most common data type, which can contain letters only or a mix of letters, numbers, and other characters.
   - Example: `'Hello, World!'`

# **Connecting to the Database**

Let's start by connecting to the database:

Before we proceed, ensure that you have uploaded [the database file](https://drive.google.com/file/d/1nEvAkIl2yLQkb8EsnoW566LKOdthQG4U/view?usp=sharing) to Google Colab. To connect to the database, we will use the following steps:

1. **Upload Database File**:

- Use the Colab interface to upload your SQLitedatabase file. You can do this by clicking on the "Files" tab on the left sidebar and then uploading your database file.

In [1]:
# Import the necessary libraries
import sqlite3
import pandas as pd

# We can use the 'connect()' method to create a connection to an SQLite database
# Replace 'data.sqlite' with the actual name of your SQLite database file
connection = sqlite3.connect('/content/university_database.db')

2. **Connect to the Database**:
- Now, let's establish a connection to the SQLite database using the uploaded file. We'll use the `sqlite3` library for this.

Now you are connected to your SQLite database in Google Colab, and you can start executing SQL queries.

In [ ]:
"""
  After establishing our connection with the database, we need to create a cursor.
  A cursor is a tool used to navigate and fetch records from the database.
"""
# Type code here
cursor = connection.cursor()

The cursor plays a crucial role because we use it every time we want to run SQL queries from Python.

Let's break down the explanations in simpler terms:

1. **execute():**
   - This is like telling the database to do one thing. If you have a single question or task for the database, you use `execute()`.

   - **Example in plain English:**
     - Asking the database: "Hey, show me all the information in this table."

2. **executemany():**
   - This is for when you have the same question to ask the database multiple times, but with different details each time. It's like repeating the same question for different situations.

   - **Example in plain English:**
     - Asking the database: "I want to add several rows of information to this table, but each row is a bit different."

3. **executescript():**
   - This is when you have a list of questions or tasks, and you want to ask or perform them all at once. It's like giving the database a to-do list.

   - **Example in plain English:**
     - Giving the database a list: "Create a new table, add this information, and also add that information. All in one go, please."

So, the cursor is like our tool to communicate with the database, and these methods are the different ways we can ask it questions or give it tasks. Each method is handy for different situations, depending on what we need to do with the data in the database. If you have more questions or if there's a specific task you're thinking of, feel free to let me know!

---

**IMPORTANT:**

When you make changes to a database, like creating, deleting, adding, updating, or removing things, those changes don't happen right away. You need to apply the changes after each action. If multiple connections are making changes at the same time, SQLite will lock the database until those changes are made. So, always remember to apply your changes after each thing you do with the database.

To apply the changes and finish what you're doing, just use the `commit()` method.

---

# **Loading Database**

In [ ]:
# Get the list of tables in the database
cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
tables = cursor.fetchall()

# Display information about tables and their columns
for table in tables:
    table_name = table[0]
    print(f"\nTable: {table_name}")

    # Get the list of columns for each table
    cursor.execute(f"PRAGMA table_info({table_name});")
    columns = cursor.fetchall()

    # Display information about columns
    for column in columns:
        column_name = column[1]
        print(f"  Column: {column_name}")

Table: Mahasiswa
  Column: Nim
  Column: Nama
  Column: Jurusan
  Column: TahunMasuk

Table: Dosen
  Column: NID
  Column: Nama
  Column: Jabatan

Table: MataKuliah
  Column: KodeMK
  Column: NamaMK
  Column: JumlahSks

Table: Perkuliahan
  Column: IdPerkuliahan
  Column: Nim
  Column: NID
  Column: KodeMK
  Column: Nilai

Table: Staff
  Column: StaffID
  Column: Name
  Column: Department
  Column: Position
  Column: NID
  Column: Salary

In [ ]:
# Command to display a list of table names in the database
query = '''
        SELECT
            name
        FROM sqlite_master
        WHERE type IN ("table", "view");
        '''

# Execute the command using the cursor
cursor.execute(query)

# Commit the changes made to the database
connection.commit()

Untuk mengambil baris dengan database SQLite menggunakan Python, kita dapat:

<ul>
<li>Perlakukan kursor sebagai iterator,</li>
<li><b>Panggil metode fetchone()</b>, dimana kursor mengambil baris berikutnya dari kumpulan hasil kueri, mengembalikan satu urutan.</li>
<li><b>Panggil metode fetchall()</b>, dimana kursor mengambil baris berikutnya dari kumpulan hasil kueri. Jumlah baris berikutnya yang akan diambil harus ditentukan sebagai parameter metode. Baris yang diambil dikembalikan dalam daftar Python dengan tupel.</li>
<li><b>Panggil metode fetchmany()</b>, dimana kursor mengambil semua baris dari kumpulan hasil kueri. Baris yang diambil dikembalikan dalam daftar Python dengan tupel.</li>
</ul>

# **DDL - CREATE NEW TABLE**

In [ ]:
# SQL statement to create the Staff table with a foreign key
create_staff_table = '''
CREATE TABLE IF NOT EXISTS Staff (
    StaffID INTEGER PRIMARY KEY,
    Name TEXT NOT NULL,
    Department TEXT,
    Position TEXT,
    NID INTEGER,
    FOREIGN KEY (NID) REFERENCES Lecturer(NID)
);
'''

# Execute the statement to create the Staff table
cursor.execute(create_staff_table)

# Commit the changes to the database
connection.commit()

This code is about creating a new table named "Staff" in the database. Here's a breakdown:
   - The SQL statement uses the CREATE TABLE command to define the structure of the "Staff" table.
   - It includes columns such as StaffID, Name, Department, Position, and NID (Lecturer ID).
   - The NID column is specified as a foreign key that references the NID column in the "Lecturer" table.


In simple terms, this code is like telling the database, "**Create a new table for staff members with specific details, and connect it to the 'Lecturer' table through the Lecturer ID.**"

# **DDL - ALTER TABLE STAFF (Adding a New Column)**

This command is used to modify the structure of an existing table. Its tasks include changing the table's name, adding columns, modifying columns, removing columns, and assigning attributes to columns.

Query ALTER :

    ALTER TABLE ​<table_name>
      Add (new_column_name_1 data_type_1,...,
    new_column_name_n, data_type_n);

In [ ]:
# SQL statement to add a new column to the Staff table
alter_staff_table = '''
ALTER TABLE Staff
ADD COLUMN Salary INTEGER;
'''

# Execute the statement to add the new column
cursor.execute(alter_staff_table)

# Commit the changes to the database
connection.commit()

This code is responsible for altering the structure of the "Staff" table in the database by adding a new column named "Salary." Let's break down the process:
   - The SQL statement utilizes the ALTER TABLE command to modify the structure of the "Staff" table.
   - The specific alteration involves adding a new column called "Salary," which is defined as an INTEGER data type.


In simpler terms, this code instructs the database to enhance the "Staff" table by introducing a new column to store salary information for staff members.

# **DDL - DROP TABLE PRASYARAT**

Dropping a table in a database.

To delete a table, you use the DROP query:
```python
DROP <table_name>;
```

In simple terms, this command is used to remove a table from the database. The `<table_name>` part specifies the name of the table you want to delete. After executing this command, the table and all its data will be permanently removed from the database.

In [ ]:
# SQL statement to drop (delete) the table named "Prasyarat"
drop_prasyarat_table = '''
DROP TABLE IF EXISTS Prasyarat;
'''

# Execute the statement to drop the "Prasyarat" table
cursor.execute(drop_prasyarat_table)

# Commit the changes to the database
connection.commit()

This code is designed to remove (delete) a table named "Prasyarat" from the database. Here's a breakdown of the process:
   - The SQL statement utilizes the DROP TABLE command to delete the specified table, in this case, "Prasyarat."
   - The IF EXISTS clause ensures that the statement executes successfully even if the table doesn't exist, preventing errors.

In simpler terms, this code tells the database to get rid of the "Prasyarat" table, ensuring that the removal occurs only if the table exists. The changes are then committed to the database for permanency.

# **DML - INSERT DATA INTO TABEL MAHASISWA**

In this code block, we will add new records to the "Mahasiswa" table in the database. The table represents information about students, including their student ID (Nim), name, field of study (Jurusan), and year of enrollment (TahunMasuk).

In [ ]:
# Student data to be inserted
students_data = [
    (103, 'Charlie Brown', 'Computer Science', 2022),
    (104, 'David Lee', 'Mathematics', 2022),
    (105, 'Eva White', 'Psychology', 2022),
    (106, 'Frank Miller', 'History', 2022),
    (107, 'Grace Davis', 'Physics', 2022),
    (108, 'Henry Taylor', 'Chemistry', 2022),
    (109, 'Ivy Green', 'Political Science', 2022),
    (110, 'Jack Robinson', 'Economics', 2022)
]

# SQL statement to insert students into Mahasiswa table
insert_statement = 'INSERT INTO Mahasiswa (Nim, Nama, Jurusan, TahunMasuk) VALUES (?, ?, ?, ?)'

# Execute the statement for each student data
cursor.executemany(insert_statement, students_data)

# Commit the changes to the database
connection.commit()

This code is responsible for inserting student data into the "Mahasiswa" table in the database. Here's a step-by-step explanation:

1. **Student Data:**

A list named `students_data` is created, containing tuples representing individual students. Each tuple includes information such as student ID (Nim), name (Nama), field of study (Jurusan), and the year of enrollment (TahunMasuk).

2. **INSERT INTO SQL Statement:**

The SQL statement `INSERT INTO Mahasiswa (Nim, Nama, Jurusan, TahunMasuk) VALUES (?, ?, ?, ?)` is used to insert data into the "Mahasiswa" table. The placeholders (?, ?, ?, ?) are replaced by the corresponding values from each tuple.



---


In simpler terms, this code adds information about several students, including their IDs, names, fields of study, and enrollment years, to the "Mahasiswa" table in the database.

# **DML - Retrieving Data with SELECT Statement**

The SELECT statement is used to fetch specific information from a table. It allows you to choose which columns you want to see from the table. Here's a simple example:

```python
SELECT column_name_1, ..., column_name_n
FROM <table_name>;
```

In this query:
- `column_name_1, ..., column_name_n` represents the names of the columns you are interested in.
- `<table_name>` is the actual name of the table from which you want to get the data.

For instance, if you have a table named "Students" and you want to see only the "Name" and "Age" columns, your query would look like:

```python
SELECT Name, Age
FROM Students;
```


This will return a list of names and ages from the "Students" table. The SELECT statement is a powerful tool for retrieving specific information tailored to your needs.

In [ ]:
# Retrieving Data from Mahasiswa Table as DataFrame
mahasiswa_df = pd.read_sql_query("SELECT * FROM Mahasiswa;", connection)

# Displaying Data from Mahasiswa Table as DataFrame
print("Data from Mahasiswa Table:")
mahasiswa_df

Data from Mahasiswa Table:

   Nim           Nama            Jurusan  TahunMasuk
0  101       John Doe        Informatika        2022
1  102     Jane Smith   Sistem Informasi        2022
2  103  Charlie Brown   Computer Science        2022
3  104      David Lee        Mathematics        2022
4  105      Eva White         Psychology        2022
5  106   Frank Miller            History        2022
6  107    Grace Davis            Physics        2022
7  108   Henry Taylor          Chemistry        2022
8  109      Ivy Green  Political Science        2022
9  110  Jack Robinson          Economics        2022

This code is focused on retrieving data from the "Mahasiswa" table in the database and displaying it as a DataFrame. Here's a straightforward explanation:

1. **SELECT SQL Statement:**
   - The SQL statement `"SELECT * FROM Mahasiswa;"` is used to select all columns (`*`) from the "Mahasiswa" table.

2. **pd.read_sql_query:**
   - The Pandas function `pd.read_sql_query` is employed to execute the SQL query and retrieve the results as a DataFrame (`mahasiswa_df`).

3. **Displaying Data:**
   - `print("Data from Mahasiswa Table:")` is a simple print statement to indicate the type of data being displayed.

4. **mahasiswa_df:**
   - `mahasiswa_df` is the resulting DataFrame that holds the retrieved data.

In simpler terms, this code fetches all information from the "Mahasiswa" table in the database and displays it in a structured format using a DataFrame.

# **DML - SELECT With AS (Aliases)**

To display specific data from one (or multiple) tables by replacing the column names.

Query SELECT with AS:
```python
SELECT column_name
    AS 'new_column_name'
FROM table_name

In [ ]:
# Example: SELECT with AS (Aliases)
query = '''
SELECT Nim
    AS 'StudentID',
    Nama
    AS 'StudentName'
FROM Mahasiswa;
'''

# Retrieving Data with SELECT and Aliases
result_df = pd.read_sql_query(query, connection)

# Displaying Data with Aliases as DataFrame
print("Data with Aliases:")
result_df

Data with Aliases:

   StudentID    StudentName
0        101       John Doe
1        102     Jane Smith
2        103  Charlie Brown
3        104      David Lee
4        105      Eva White
5        106   Frank Miller
6        107    Grace Davis
7        108   Henry Taylor
8        109      Ivy Green
9        110  Jack Robinson

This code is about asking the database for student IDs and names from the "Mahasiswa" table. But instead of using the technical column names, we're giving them friendlier names like 'StudentID' for IDs and 'StudentName' for names. After running the code, we print out this more readable information.

It's like saying, "Database, show me the student IDs, but call them 'StudentID', and show me the names, but call them 'StudentName'."

# **DML - UPDATE**

This command is used to change or modify values in a table.

**Important Note:** Always specify the **WHERE** clause clearly. Without the **WHERE** clause, all data in the table will be affected by the modification.

Here's a simple explanation of the UPDATE query:

```python
UPDATE <table_name> SET column_name_1='...', column_name_2='...', ..., column_name_n='...'
WHERE <clause>;
```

This query updates specific columns in a table with new values, but it's crucial to specify a condition using the **WHERE** clause to ensure only the intended rows are modified. If you omit the **WHERE** clause, all rows in the table will be impacted.

In [ ]:
# Example: DML - UPDATE
update_query = '''
UPDATE Mahasiswa
SET Jurusan = 'Computer Science'
WHERE Nim = 101;
'''

# Execute the UPDATE query
connection.execute(update_query)

# Commit the changes to the database
connection.commit()

In this example, we are using a DML (Data Manipulation Language) UPDATE query to modify data in the "Mahasiswa" table. Specifically, we are changing the "Jurusan" (department) of the student with the ID (Nim) 101 to 'Computer Science'. The WHERE clause ensures that only the row with the specified student ID is updated.

# **DML - DELETE**

This command is used to delete values or data from a table.

**Note:** The **WHERE** clause should always be written clearly. Without the **WHERE** clause, all data will be affected by the deletion.

DELETE Query:
```python
    DELETE FROM <table_name>​
        WHERE <clause>;
```

In [ ]:
# Nim (Student ID) to be deleted
nim_to_delete = 104

# SQL statement to delete a student from Mahasiswa table
delete_statement = f"DELETE FROM Mahasiswa WHERE Nim = {nim_to_delete}"

# Execute the DELETE query
cursor.execute(delete_statement)

# Commit the changes to the database
connection.commit()

# Retrieving Data from Mahasiswa Table as DataFrame after deletion
updated_mahasiswa_df = pd.read_sql_query("SELECT * FROM Mahasiswa;", connection)

# Displaying Updated Data from Mahasiswa Table as DataFrame
print("Updated Data from Mahasiswa Table:")
updated_mahasiswa_df

Updated Data from Mahasiswa Table:

   Nim           Nama            Jurusan  TahunMasuk
0  101       John Doe   Computer Science        2022
1  102     Jane Smith   Sistem Informasi        2022
2  103  Charlie Brown   Computer Science        2022
3  105      Eva White         Psychology        2022
4  106   Frank Miller            History        2022
5  107    Grace Davis            Physics        2022
6  108   Henry Taylor          Chemistry        2022
7  109      Ivy Green  Political Science        2022
8  110  Jack Robinson          Economics        2022

In this example, the DELETE query will remove the student with the Nim of 104 from the "Mahasiswa" table. Make sure to replace the Nim value (104) with the actual Nim of the student you want to delete. Always double-check and be certain about the condition in the WHERE clause to avoid unintentional deletion of data.

# **DML - SELECT with Criteria**

To display specific data based on specified criteria, you can use the WHERE clause in your SELECT query. The criteria (also known as conditions) in the WHERE clause can involve logical operators and other comparison operators.

Query SELECT:
```python
    SELECT column_name_1, ..., column_name_n
        FROM <table_name>
    WHERE <criteria>
```

This query allows you to retrieve specific columns from a table where the specified criteria are met. Replace `<column_name_1, ..., column_name_n>` with the actual column names you want to retrieve, `<table_name>` with the name of your table, and `<criteria>` with the conditions you want to apply.

In [ ]:
# SQL statement for selecting data with criteria
select_query = '''
SELECT Nim, Nama, Jurusan, TahunMasuk
FROM Mahasiswa
WHERE Jurusan = 'Computer Science';
'''

# Retrieving data with SELECT and criteria as DataFrame
result_df = pd.read_sql_query(select_query, connection)

# Displaying data with criteria as DataFrame
print("Data with Criteria:")
result_df

Data with Criteria:

   Nim           Nama           Jurusan  TahunMasuk
0  101       John Doe  Computer Science        2022
1  103  Charlie Brown  Computer Science        2022

Suppose we have a table named Mahasiswa storing information about students, and we want to display the data of students majoring in 'Computer Science'.

In this example, the WHERE clause is used to filter the data, showing only the records where the 'Jurusan' (major) is 'Computer Science'. The resulting data is then presented as a DataFrame.

# **DML - SELECT with Comparison Operators**

Comparison operators, often referred to as relational operators, are frequently used in the WHERE clause as parameters for displaying specific data.


| Operator | Description                  |
|----------|------------------------------|
| =        | Equal to                     |
| !=       | Not equal to                 |
| <        | Less than                    |
| >        | Greater than                 |
| <=       | Less than or equal to        |
| >=       | Greater than or equal to     |

Here's an example code using the `!=` (not equal to) operator to select data based on a specific condition:

In [ ]:
# Example: DML - SELECT with Not Equal Operator
query = '''
SELECT *
FROM Mahasiswa
WHERE TahunMasuk != 2022;
'''

# Retrieving Data with SELECT and Not Equal Operator
result_df = pd.read_sql_query(query, connection)

# Displaying Data with Not Equal Operator as DataFrame
print("Data with Not Equal Operator:")
result_df

Data with Not Equal Operator:

Empty DataFrame
Columns: [Nim, Nama, Jurusan, TahunMasuk]
Index: []

In this example, the code selects all rows from the `Mahasiswa` table where the value in the `TahunMasuk` column is not equal to 2022.

# **DML - SELECT with Boolean Operators**

Boolean operators are used to connect two criteria. Meanwhile, the NOT operator is used to reverse the truth value of a condition.

| Operator | Description                                               |
|----------|-----------------------------------------------------------|
| AND      | Displays data that satisfies both given criteria.         |
| OR       | Displays data that satisfies either one or both given criteria.|
| NOT      | Returns data that is the opposite of the given condition. |

You can use these operators in the WHERE clause of a SELECT statement to filter data based on specific conditions.

In [ ]:
import pandas as pd

# SQL query with the AND operator
query = '''
SELECT Nama, Jurusan, TahunMasuk
FROM Mahasiswa
WHERE Jurusan = 'Computer Science' AND TahunMasuk = 2022;
'''

# Retrieve data from the database using pandas
result_df = pd.read_sql_query(query, connection)

# Display the result as a DataFrame
print("Data with criteria:")
result_df

Data with criteria:

            Nama           Jurusan  TahunMasuk
0       John Doe  Computer Science        2022
1  Charlie Brown  Computer Science        2022

In [ ]:
import pandas as pd

# SQL query with the OR operator
query = '''
SELECT Nama, Jurusan, TahunMasuk
FROM Mahasiswa
WHERE Jurusan = 'Computer Science' OR TahunMasuk = 2022;
'''

# Retrieve data from the database using pandas
result_df = pd.read_sql_query(query, connection)

# Display the result as a DataFrame
print("Data with criteria:")
result_df

Data with criteria:

            Nama            Jurusan  TahunMasuk
0       John Doe   Computer Science        2022
1     Jane Smith   Sistem Informasi        2022
2  Charlie Brown   Computer Science        2022
3      Eva White         Psychology        2022
4   Frank Miller            History        2022
5    Grace Davis            Physics        2022
6   Henry Taylor          Chemistry        2022
7      Ivy Green  Political Science        2022
8  Jack Robinson          Economics        2022

In [ ]:
import pandas as pd

# SQL query with the NOT operator
query = '''
SELECT Nama, Jurusan, TahunMasuk
FROM Mahasiswa
WHERE NOT Jurusan = 'Computer Science';
'''

# Retrieve data from the database using pandas
result_df = pd.read_sql_query(query, connection)

# Display the result as a DataFrame
print("Data with criteria:")
result_df

Data with criteria:

            Nama            Jurusan  TahunMasuk
0     Jane Smith   Sistem Informasi        2022
1      Eva White         Psychology        2022
2   Frank Miller            History        2022
3    Grace Davis            Physics        2022
4   Henry Taylor          Chemistry        2022
5      Ivy Green  Political Science        2022
6  Jack Robinson          Economics        2022

# **DML - Operator Like**

When needed, information can be displayed based on the similarity of a specific column with a string. Utilizing the LIKE operator.

The LIKE operator is often employed to filter data based on patterns or partial matches within a specific column.

Query using LIKE:
```python
SELECT column_name_1, ..., column_name_n
FROM table_name
WHERE column_name LIKE pattern;
```

Here, the `LIKE` operator is used in the `WHERE` clause to filter rows where the specified column matches a given pattern or string. The pattern may include wildcard characters like `%` or `_` for more flexible matching.

In [ ]:
# Define your SQL query using the LIKE operator
sql_query = f'''
SELECT *
FROM Mahasiswa
WHERE Nama LIKE '%Do%';
'''

# Execute the query and retrieve data into a Pandas DataFrame
result_df = pd.read_sql_query(sql_query, connection)

# Display the result
result_df

   Nim      Nama           Jurusan  TahunMasuk
0  101  John Doe  Computer Science        2022

# **DML - Operator IN and NOT IN**

The `IN` and `NOT IN` operators are used to display specific data where a column has values listed in the `IN` clause or does not have values listed in the `NOT IN` clause.

Here's a brief explanation:

- **IN Operator:**
  - The `IN` operator is used to filter rows based on a list of specific values in a column.
  - Syntax: `column_name IN (value1, value2, ...)`
  - Example: `SELECT * FROM table_name WHERE column_name IN (value1, value2, ...);`

- **NOT IN Operator:**
  - The `NOT IN` operator is used to filter rows based on a list of values that should not be present in a column.
  - Syntax: `column_name NOT IN (value1, value2, ...)`
  - Example: `SELECT * FROM table_name WHERE column_name NOT IN (value1, value2, ...);`

These operators are helpful when you want to filter data based on specific conditions, especially when dealing with discrete values.

In [ ]:
# Example using IN Operator
in_operator_query = '''
SELECT *
FROM Mahasiswa
WHERE Nim IN (101, 103, 105);
'''

in_operator_result = pd.read_sql_query(in_operator_query, connection)
print("Data using IN Operator:")
in_operator_result

Data using IN Operator:

   Nim           Nama           Jurusan  TahunMasuk
0  101       John Doe  Computer Science        2022
1  103  Charlie Brown  Computer Science        2022
2  105      Eva White        Psychology        2022

In [ ]:
# Example using NOT IN Operator
not_in_operator_query = '''
SELECT *
FROM Mahasiswa
WHERE Nim NOT IN (102, 104);
'''

not_in_operator_result = pd.read_sql_query(not_in_operator_query, connection)
print("\nData using NOT IN Operator:")
not_in_operator_result

Data using NOT IN Operator:

   Nim           Nama            Jurusan  TahunMasuk
0  101       John Doe   Computer Science        2022
1  103  Charlie Brown   Computer Science        2022
2  105      Eva White         Psychology        2022
3  106   Frank Miller            History        2022
4  107    Grace Davis            Physics        2022
5  108   Henry Taylor          Chemistry        2022
6  109      Ivy Green  Political Science        2022
7  110  Jack Robinson          Economics        2022

# **DML - Operator Between**

The `BETWEEN` operator in SQL is used to filter data based on a specified range of values. It is often used in the `WHERE` clause of a SQL query to retrieve records whose values fall within a specified range for a particular column. The basic syntax of the `BETWEEN` operator is as follows:

```sql
SELECT column_name(s)
FROM table_name
WHERE column_name BETWEEN value1 AND value2;
```

- `column_name(s)`: The column or columns you want to retrieve.
- `table_name`: The name of the table from which you want to retrieve data.
- `column_name`: The specific column for which you want to set the range.
- `value1` and `value2`: The range of values to filter on.

In [ ]:
# SQL query with BETWEEN operator
query = '''
SELECT *
FROM Staff
WHERE Salary BETWEEN 50000 AND 80000;
'''

# Retrieve data into a DataFrame
result_df = pd.read_sql_query(query, connection)

# Display the DataFrame
print("Data with Salary Between 50000 and 80000:")
result_df

Data with Salary Between 50000 and 80000:

Empty DataFrame
Columns: [StaffID, Name, Department, Position, NID, Salary]
Index: []

Let's say you have a `Salary` column in your `Staff` table, and you want to retrieve records of staff members whose salary is between 50000 and 80000.

This query will fetch all records from the `Staff` table where the `Salary` falls within the specified range (50000 to 80000).

# **DML - Operator ORDER BY**

The `ORDER BY` clause in SQL is used to sort the result set of a query based on one or more columns. It allows you to arrange the output in ascending (default) or descending order. This is particularly useful when you want to present the data in a specific sequence.

The syntax for using the `ORDER BY` clause is as follows:

```sql
SELECT column1, column2, ...
FROM table_name
ORDER BY column1 [ASC|DESC], column2 [ASC|DESC], ...;
```

- `column1, column2, ...`: The columns you want to select.
- `table_name`: The name of the table from which you want to retrieve the data.
- `ORDER BY`: The clause indicating that the result set should be sorted.
- `column1, column2, ...`: The columns based on which you want to sort the result set. You can specify multiple columns, and the sorting is applied in the order they are listed.
- `ASC` (Ascending) or `DESC` (Descending): The optional keyword specifying the sort order. ASC is the default.

In [ ]:
# SQL query with ORDER BY clause for Mahasiswa table
query = '''
SELECT Nim, Nama, Jurusan, TahunMasuk
FROM Mahasiswa
ORDER BY Nama ASC;  -- You can change ASC to DESC for descending order
'''

# Retrieve data into a DataFrame
result_df = pd.read_sql_query(query, connection)

# Display the DataFrame
print("Data Ordered by Student Name:")
result_df

Data Ordered by Student Name:

   Nim           Nama            Jurusan  TahunMasuk
0  103  Charlie Brown   Computer Science        2022
1  105      Eva White         Psychology        2022
2  106   Frank Miller            History        2022
3  107    Grace Davis            Physics        2022
4  108   Henry Taylor          Chemistry        2022
5  109      Ivy Green  Political Science        2022
6  110  Jack Robinson          Economics        2022
7  102     Jane Smith   Sistem Informasi        2022
8  101       John Doe   Computer Science        2022

# **ASSIGNMENT**

**1. Question 1**

Create a new table named "Address" with the following columns:
- IDAddress (integer, primary key)
- Nim (integer, foreign key referencing Mahasiswa)
- Street (text)
- City (text)

**2. Question 2**

Add a column named "Salary" with the data type integer to the "Dosen" table to store information about the lecturer's salary.

**3. Question 3**

Delete the "Prasyarat" table from the database.

**4. Question 4**

Change the column name "JumlahSks" in the "MataKuliah" table to "Sks" and change its data type to integer.

**5. Question 5**

Add new student data with the following information to the "Mahasiswa" table:
- Nim: 111
- Name: "Lisa Wong"
- Department: "Computer Science"
- Admission Year: 2023

**6. Question 6**

Create a new table named "ClassSchedule" with the following columns:
- ScheduleID (integer, primary key)
- NID (integer, foreign key referencing Dosen)
- KodeMK (text, foreign key referencing MataKuliah)
- Day (text)
- StartTime (text)
- EndTime (text)

**7. Question 7**

Change the salary of the lecturer with NID 101 in the "Dosen" table to 9500000.

**8. Question 8**

Delete the student data with Nim 105 from the "Mahasiswa" table.

**9. Question 9**

Add new course data with the following information to the "Perkuliahan" table:
- IdPerkuliahan: 201
- Nim: 103
- NID: 102
- KodeMK: "CS101"
- Grade: "A"

**10. Question 10**

Add new prerequisite data with the following information to the "Prasyarat" table:
- KodeMK: "CS202"
- KodePrasyarat: "CS101"